:root {
    --cor-secundaria: #8C68D3;
}

.container-categoria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.opcao-categoria {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcao-categoria input {
    display: none;
}

.opcao-categoria input:checked + svg { 
    transform: scale(1.5);
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: auto;
}