:root {
    --cor-secundaria: #8C68D3;
}

body {
    display: flex;
    justify-content: center;
}

.titulo {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #030303;
}

.container-categoria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 1px solid #7F7F7F;
    border-radius: 100px;
    padding: 5%;
    width: 100%;
}

.opcao-categoria {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opcao-categoria input {
    display: none;
}

.opcao-categoria input:checked+svg {
    transform: scale(1.5);
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
    width: auto;
}

.adicionarDespeza {
    background: #8C68D3;
    border-radius: 40px;
    font-family: 'Arial';
    width: 200px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}