:root {
    --cor-secundaria: #8C68D3;
}

.container-categoria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.opcao-categoria {
    width: 20%;
    display: flex;
}

.container-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    border-radius: 120px;
    width: 120px;
    height: 120px;
}